/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);

  /* typography */
  --ff-league-spartan: "League Spartan", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ### UTILITIES ### */

.text-dark-magenta {
  color: var(--primary-very-dark-magenta);
}

.text-pink {
  color: var(--primary-soft-pink);
}

.stack > * + * {
  margin-top: var(--stack-gap, 1rem);
}
